/* subscribe banner style */
.subscribe-sec {
  background-image: url(../../images/banner-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
