.navbar-item a {
  text-decoration: none;
  color: rgb(3, 206, 206);
  font-weight: 500;
}

.navbar-item a:hover {
  color: rgb(18, 160, 160);
}

#basic-nav-dropdown {
  color: rgb(3, 206, 206);
  margin: 0 5px;
}
