.App {
  text-align: center;
}

.marginTop {
  margin-top: 75px;
}

.nav-item a {
  text-decoration: none;
  color: lightgrey;
  font-weight: normal;
}

.nav-item a:hover {
  color: rgb(6, 201, 201);
}

.header-title {
  font-size: 3rem;
}
